@import url(//fonts.googleapis.com/css?family=Sigmar+One|Tangerine)

@import base
@import solarized-skeleton
@import utilities
@import typography
@import header
@import input
@import button
@import links
@import lists
@import sections/links
@import sections/main

.content-wrapper
  border: solid 1px $base01
  border-top: 0px
  border-radius: 0 0 2rem 2rem
  padding-top: 1rem
  padding-left: 1rem
  padding-right: 1rem
  margin-bottom: 2rem
