.icon
  display: inline-block
  width: 16px
  height: 16px
  margin: 1px 6px -3px -6px

  &.github
    opacity: 0.6
    background: url("../images/blacktocat.png") 0 0 no-repeat

  &.cargo
    opacity: 0.6
    background: url("../images/cargo.png") 0 0 no-repeat
