.icon
  display: inline-block
  width: 16px
  height: 16px
  opacity: 0.8
  margin: 1px 0px -3px 0px

  @each $domain in "nemo157" "twitter" "plus-google" "facebook" "steamcommunity" "last-fm" "trakt-tv" "goodreads" "stackexchange" "github" "cargo"
    &.#{$domain}
      background: url("../images/#{$domain}.png") 0 0 no-repeat

@each $domain in "nemo157" "github"
  .light .icon.#{$domain}
    background: url("../images/#{$domain}-light.png") 0 0 no-repeat
  .dark .icon.#{$domain}
    background: url("../images/#{$domain}-dark.png") 0 0 no-repeat
