<html>
  <head>
    <title>Locus Nullus{% if page.title %} - {{ page.title }} {% endif %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">{{ "@import app" | sassify }}</style>
  </head>
  <body>
    {% include switcher.html %}
    <header class="highlight">
      <h1>Locus Nullus</h1>
    </header>
    <div class="content-wrapper">
      <section class="content">
      {{ content }}
      </section>
    </div>
    {% include fastclick.html %}
  </body>
</html>
